{% extends 'auth_app/base.html' %}

{% block title %}
Sign Up! Join Millions of People
{% endblock %}


{% block content %}
<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card ">
            <div class="card-header text-center h5 bg-primary">
                Register
              </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputPassword1">First Name</label>
                        <input type="text" class="form-control form-control-sm" name="first_name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input type="text" class="form-control form-control-sm" name="last_name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Username</label>
                        <input type="text" class="form-control form-control-sm" name="username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control form-control-sm" name="email">
                     
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control form-control-sm" name="password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control form-control-sm" name="password2">
                      </div>
                   
                  
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </form>
            </div>
          </div>
    </div>
  </div>




{% endblock %}
